@{
    Layout = "_Layout";
}

<div align="center" class=mt-10>
    <div class="p-3 mb-2 bg-secondary text-white">
       <p>
        <font size="6" face="Verdana">
            SINAV OLUŞTURMA UYGULAMASI
        </font>
    </p>
</div>
    
</div>


